@font-face {
  font-family: 'isbo';
  src:  url('fonts/isbo.eot?j7st1y');
  src:  url('fonts/isbo.eot?j7st1y#iefix') format('embedded-opentype'),
    url('fonts/isbo.ttf?j7st1y') format('truetype'),
    url('fonts/isbo.woff?j7st1y') format('woff'),
    url('fonts/isbo.svg?j7st1y#isbo') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="isbo-"], [class*=" isbo-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'isbo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.isbo-w:before {
  content: "\e900";
}
.isbo-vcm:before {
  content: "\e901";
}

