// UIkit: core
@import "~uikit/src/less/uikit.less";
@tema: "almost-flat";
@import "~uikit/themes/@{tema}/uikit.less";
// UIkit: componenti
@import "~uikit/src/less/components/notify.less";
@import "~uikit/themes/@{tema}/notify.less";
@import "~uikit/src/less/components/placeholder.less";
@import "~uikit/themes/@{tema}/placeholder.less";
@import "~uikit/src/less/components/progress.less";
@import "~uikit/themes/@{tema}/progress.less";

// Modifiche alle variabili di UIkit
@icon-font-path:"../../fonts";
@base-body-background: #f5f5f5;

// Font personalizzato
@import "font/style.css";

#divMain{
	width: 840px;
}

#uploadDrop {
	.isbo-puntatore;
	position: relative;
}

#fileUpload{
	.isbo-puntatore;
	position: absolute;
	.uk-width-1-1;
	.uk-height-1-1;
	opacity: 0.0;
	top: 0;
	left: 0;
}

button[disabled] {
	cursor: default;
}

.isbo-puntatore {
	cursor: pointer;
}

/* Autocomplete */
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
